[Desktop Entry]
Name=Bambu Studio
Comment=3D Slicer for Bambu Lab printers
Exec=/home/psimmons/Applications/BambuStudio-v02.07.00.55.AppImage %U
Icon=BambuStudio
Terminal=false
Type=Application
Categories=Graphics;3DGraphics;
MimeType=model/stl;model/3mf;application/x-stl;
StartupWMClass=BambuStudio
